*.xls*
*.dta*
*.csv*
*.zip*
*.png*
*.ipynb_checkpoints*
*.do
*.txt
*.whl
*Chris_Allen_Python_Sample_Code.py
*Chris_Allen_Python_sample_Code.ipynb
*.R
*.txt
*.tek
*.html
*.log
*.RData
*.Rhistory
*.tex
*.text